.lgo35 {
  position: absolute;
  top: 10px;
  right: 20px;
}

.lgo {
  position: absolute;
  top: 10px;
  left: 30px;
}

.headr {
  position: absolute;
  top: 80px;
  left: 25px;
  font-size: 20px;
}

.vidpos {
  position: absolute;
  top: 150px;
  right: 250px;
}

.lyric {
  position: absolute;
  top: 150px;
  left: 25px;
  font-size: 20px;
}

.ref {
    position:absolute;
    bottom: 0px;
    right: 30px;
    font-size: 15px;
}